<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.betterlife">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterLife">
        <activity
            android:name=".Psikolog.NavigasiPsikolog"
            android:exported="false" />
        <activity
            android:name=".Psikolog.Authentication.RegisterPsikolog"
            android:exported="false" />
        <activity
            android:name=".Psikolog.Authentication.LoginPsikolog"
            android:exported="false" />
        <activity
            android:name=".Psikolog.StartingPsikolog"
            android:exported="false" />
        <activity
            android:name=".Pengguna.NavigasiPengguna"
            android:exported="false" />
        <activity
            android:name=".Pengguna.Authentication.LoginPengguna"
            android:exported="false" />
        <activity
            android:name=".Pengguna.Authentication.RegisterPengguna"
            android:exported="false" />
        <activity
            android:name=".Pengguna.StartingPengguna"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>